@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    line-height: 1.5;
}

hr {
    border: 2px solid;
    border-radius: 3px;
}

span {
    font-weight: 700;
    font-size: 2em;
}

#content {
    background: rgba(80, 80, 80, 0.6);
    padding: 3em;
    border-radius: 73px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1em;
    height: 80%;
    width: 75%;
    margin: auto;
    margin-top: 4%;
}

#avatar {
    text-align: center;
}

.title {
    font-size: 700;
}

#avatarimg {
    font-size: 9em;
}

#info {
    position: relative;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 28%);
}